.body{
    display: inline-block;
    background-color: black;

}

.navbar{
    background-color: brown;
}

header{


}


main{



}

.custom-card {
    width: 40rem;
}



footer{
    background-color: black; 
    color: white; font-style: italic;

}

.rodape{
    text-align: center;
    color: white;
}







button{
    background-color: grey;
    border-radius: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    background-color: rgba(100, 0, 0, 0.655);
    
}

button:active {
    transform: scale(1); /* Aumenta o tamanho quando o botão é pressionado */
}


.button1{
    background-color: rgba(159, 0, 0, 0);
    transform: scale(1);
}
.button1:hover{
    background-color: rgba(159, 0, 0, 0.678);
}




